@using WOD.Domain.Models;
@using HelloMvcApp.Controllers;
@{
    ViewData["Title"] = "All News";
}
@model WOD.WebUI.ViewModels.NewsViewModel;

<div class="wrapper">
    <div class="news-widgets">

        @if (Model.AllNews == null || Model.AllNews.Count == 0)
        {
            <a news="blah" href="#"><img src="@Model.DefaultNews.Image" /></a>
            <span>@Model.DefaultNews.Title</span>
        }
        else
        {
            @foreach (var news in Model.AllNews)
            {
                <a news="blah" href="#"><img src="@news.Image" /></a>
                <span>@news.Title</span>
            }
        }
    </div>
</div>

