<body>
    <div class="privacy-policy">
        <h1>Privacy Policy</h1>
        <p>
            A Privacy Policy is a legal document that informs the public about the data you collect, how you collect it, and how you use it, as well as other important details about your privacy practices.

            This article will explain in further detail what a Privacy Policy is, why and when one is legally required, and how to create and display your own.

            We've also put together a Sample Privacy Policy Template that you can use to help write your own.
        </p>
    </div>

</body>