@using WOD.Domain.Models;
@using HelloMvcApp.Controllers;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Football Clubs";
}
@model WOD.WebUI.ViewModels.HomeViewModel;

<div class="wrapper">
	<div class="football-clubs-list" style="height: 500px;">
		@foreach (var footballClub in Model.FootballClubs)
		{
			<div class="team-widget">
				<a target="_blank" href="/FootballClubs/Details?id=@footballClub.Id"> <img src="@footballClub.Logo"><br>@footballClub.Name</a>

			</div>
		}
	</div>
</div>
